$colors: (
    yellow: #f6b725,
    darkblue: #1d1d33,
    white: #fff,
    black: #000,
    darkbrown: #3b2903,
    lightyellow: #f3ce73,
    gray: #888888,
);

$font-family: 'Open Sans', sans-serif;
$breakpoint-big: 921px;
$breakpoint-middle: 920px;
$breakpoint-small: 630px;